<ion-content>
  <div class="container top"> 
  </div>


  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Cadastro</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nome" [(ngModel)]="nome" name="nome"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="senha" name="senha"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="CRMV" [(ngModel)]="crmv" name="crmv"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="number" placeholder="Telefone" [(ngModel)]="telefone" name="telefone"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="cadastrarAdes()"  expand="block">
          Cadastrar
        </ion-button>

        <ion-button class="ion-margin-top" (click)="pagLogin()" expand="block">
          Voltar
        </ion-button>

      </div>
    </ion-slide>
  </ion-slides>


  <div class="ocean">
    <div class="waves">
      <div class="container bottom ion-text-center">
        <span></span>
      </div>
    </div>
  </div>
</ion-content>
