ion-menu-button {
    color: var(--ion-color-primary);
  }

  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  ion-title{
    font-weight: bold;
    text-align: center;
  }

  ion-content {

    .inicio {
      background-color: #B0C4DE;
      margin-top: -16px;
      height: 90px;
      width: 100%;
    }
    
    .botao {
      margin-top: -30px;
      height: 85px;
      width: 110px;
      padding: 5px 20px 10px 10px;
      border-radius: 15px;
    }
    
    .botoes {
      text-align: center;
    }
    
    .botoes2 {
      margin-top: 35px;
      text-align: center;
    }
    .textoBusca {
      color: white;
      margin-top: -10px;
      font-size: 25px;
      padding-left: 25px;
      font-weight: bold;
      text-align: center;
    }
    
    .scroll-content {
      overflow-y: hidden;
    }
    
    .textoOla {
      padding-top: 25px;
      color: white;
      padding-left: 25px;
    }
    
    }